/* CSS Reset for Browser and Development Consistency */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: normal;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* Start of Code Written by Nathan*/
  *{
    font-family: Roboto, sans-serif;
  }
  a:link{
    color:#E5E7EB;
    text-decoration: none;
  }

  a:visited{
    color:#E5E7EB;
    text-decoration: none;
  }

  button{
    align-self: flex-start;
    flex-wrap: nowrap;
    background-color: #3882F6;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
    border: 0px;
    font-size: 18px;
  }

  #header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    gap: 250px;
  }

  #header__logo{  
    font-size: 24px;
    font-weight: bold;
  }

  #header__links{
    display: flex;
    gap:16px;
  }

  #header__links,
  .content-block-01__text,
  .content-block-04__text{
    font-size:18px;
    color:#E5E7EB;
  }

  .content-block{
    height: 350px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #content-block-01{
    background-color: #1f2937;
    color:#f9faf8;
  }

  .content-block-01__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
  }

  .content-block-01__image{
    display: flex;
  }

  .content-block-01__header{
    font-size: 48px;
    font-weight: bolder;
  }
  /* .content-block-01__button{
    display: flex;
    flex: 0,0,0;
  } */

  #content-block-02,
  #content-block-04{
      background-color: #ffffff;
  }

  #content-block-02{
    flex-direction: column;
    align-items: center;
  }

  .content-block-02__header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
  }

  .content-block-02__box-text-container{
    font-size: 18px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 150px;
    margin-top: 24px;
  }

  .box{
    width: 100px;
    height: 100px;
    border: 3px solid  #3882F6;
    border-radius: 8px;
  }

  .text{
    text-align: center;
  }

  .content-block-02__box-text-container-container{
    display: flex;
    gap: 16px;
  }
  #content-block-03{
      background-color: #E5E7EB;
  }

  .content-block-03__text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 650px;
    display: flex;
    justify-content: flex-start;
  }

  .content-block-03__signature{
    font-size: 20px;
    color:#1f2937;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
  }

  .content-block-03__container{
    display: flex;
    flex-direction: column;
  }

  .content-block-04__container{
      background-color: #3882F6;
      width: 700px;
      display: flex;
      padding: 24px;
      justify-content: space-around;
      align-items: center;
      border-radius: 6px;
  }

  .content-block-04__button_container{
    display: flex;
    align-items: center;
  }
  
  .content-block-04__header{
    color: #f9faf8;
    font-size: 24px;
  }

  .content-block-04__button{
    border: 2px solid white;
  }

  #footer{
      background-color: #1F2937;
      color:#E5E7EB;
      display: flex;
      justify-content: center;
  }